extends ../layout

block content
  #impress
    .step#title-image-slide(data-x=-17000, data-y=-4000)
      img(src="http://earthjustice.org/sites/default/files/havasupai-tribe.jpg?1331662736")

    .step#title-slide(data-x=-15000, data-y=-4000)
      .title.box Havasupai

    .step#names-slide(data-x=-12000, data-y=-4000)
      .title.box By:
        .text Austin Wood
        .text Mackenzie Williams
        .text Tarah Udy

    .step#history-slide(data-x=-10000, data-y=-4000)
      .title History

    .step#history-info-slide(data-x=-10000, data-y=-2900,)
      ul
        li Havasupai people, pre 1990's, were seasonal farmers
        li"People of the blue-green waters"
        li Covered Havasu Canyon with Mud-covered wickiups and brush (for irrigation)
        li Planted corn, beans, sunflowers, and squash
        li Early 1890 the Bureau of Indian Affairs and Department of the Interior advised them to become intense agriculturists
        li 1919 (when the Grand Canyon National Park was established) the tribe was restricted to 518 acres, in Havasu Canyon, in the southwest corner of the park

    .step#Soils-title(data-x=-8000, data-y=-3000)
      .title Soil

    .step#Soil-info(data-x=-8000, data-y=-2000)
      .title Soil Info
        ul
          li Mineral resources: uranium, copper, vanadium, gypsum
          li Geologic materials: tertiary and quaternary gravel, limestone, flagstone, sandstone, travertine
          li Has "Gravelly Loam" rangeland
          li Fan terraces at 4300 to 6000 feet
          li Slope 1-35%
          li Soil is "Tertiary alluvium"  from sedimentary and igneous rock
        img(src='/img/CrossSection2.png')
    .step#more-soil-info(data-x=-7000, data-y=2000)
      .title Other information
        ul
          li Water: medium-high runoff, moderately permeable, annual precipitation 10-14in
          li Temperature average: 54 degrees
          li Vegetation: black and blue grama, needleandthread, banana yucca and Fremont barberry
        img(src="/img/CrossSection.png")
    .step#history-farming(data-x=-5000, data-y=-2000)
      .title Farming
        ul
            li Typically farmed small patches of land
            li Plant in the Spring
            li John F. Gaddis teaches farming techniques with little success
            li Gaddis focused on sustainable farming
            li This included planting on more available land, store surplus, used irrigation ditches to utilize water


    .step#Farming-image-slide1(data-x=-5000, data-y=-500)
      .box
          img(src="http://farm7.staticflickr.com/6138/6001397920_95b2cd6caf_z.jpg")
    .step#farm-image-slide2(data-x=-4700, data-y=-500,data-z=-325, data-rotate-y=90)
      .box
          img(src="http://grandcanyonhistory.clas.asu.edu/images/sites/adjacentlands/havasupaireservation/Plower_thumb.jpg")
    .step#farm-image-slide3(data-x=-5000, data-y=-500,data-z=-645, data-rotate-y=180)
      .box
          img(src="http://naturevalleytrailview.com/callouts/83/havasupai_CO1_480.jpg")
    .step#map-image(data-x=-5300,data-y=-500,,data-z=-325, data-rotate-y=270)
      .box
          img(src="http://cpluhna.nau.edu/images/havasupai.jpg")

    .step#flood-info-slide(data-x=-2500, data-y=-500)
      .title Flood Info

    .step#flood-history-slide(data-x=-2500, data-y=150)
      .title Flood
        ul
          li Floods are common in this area
          li This is why they didn't put much effort into crop production
          li 1898 flash flood removed the crops

    .step#flood-image-slide1
      .title.box Before and After
        img( src="http://3.bp.blogspot.com/_JPtOjy3b2pU/TGJNkk_Il6I/AAAAAAAAATM/qapAEPF2axA/s320/old+hava.jpg")
        img( src="http://4.bp.blogspot.com/_JPtOjy3b2pU/TGJNrcva2vI/AAAAAAAAATU/cFcRxUZqaqQ/s320/havasu+during+flood.jpg")
    .step#flood-image-slide2(data-x=320,data-z=-325, data-rotate-y=90)
      .title.box Before and After
        img( src="http://www.lostandlovingit.org/wp-content/uploads/2012/05/IMG_37492-300x235.jpg")
        img( src="http://www.lostandlovingit.org/wp-content/uploads/2012/05/Dead-Navajo-Falls-300x224.jpg")
    .step#flood-image-slide3(data-z=-640, data-rotate-y=180)
      .title.box Before and After
        img( src="http://www.lostandlovingit.org/wp-content/uploads/2012/05/IMG_37511-300x245.jpg")
        img( src="http://www.lostandlovingit.org/wp-content/uploads/2012/05/IMG_3540-300x225.jpg")
    .step#flood-image-slide4(data-x=-325,data-z=-325,data-rotate-y=270)
      .title.box Before and After
        img( src="http://www.lostandlovingit.org/wp-content/uploads/2012/05/IMG_3698-300x236.jpg")
        img( src="http://www.lostandlovingit.org/wp-content/uploads/2012/05/IMG_3718-300x222.jpg")

    .step#why-this-matters(data-x=-800,data-y=1400,data-z=-125,data-rotate-y=270)
      .title 2008 flood
        .text
          ul
            li The flood collapsed Fiftyfoot falls taking "2 acres of fify foot tall earth down the canyon"
            li Creeks were drained
            li Mooney falls flowed with mud, and the base of the falls were filled
            li 3 of the village homes had water damage
            li Bridges were destroyed
            li 6 feet of soil and debris collected on the camp area
            li 2 cemeteries are threatened by erosion and could collapse
            li Trails were compromised
            li Initial estimated cost $2,523,981

    .step#clean-up(data-x=-1000, data-y=1280, data-z=1325, data-rotate-y=270)
      .title Solutions and Clean Up
        ul
          li Fix Earthen Dam
          li Repair bridges
          li Irrigation Corrugated Metal Pipe Cleanout
          li Clean irrigation ditch
          li Fence and trail repairs
          li Public saftey early warning system
          li Geotechnical analysis of Havasu creek
          li Repair campground
          li Toilet compost cleanout (campground)
          li Water system replacement
          li Trash removal

    .step#future-problem-slide(data-x=8000, data-y=2000,data-z=1300, data-rotate-y=360)
      .title Future Problem
        li Reservation is in a "bowl" with many slot canyons
        li Flash Floods are not easy to predict
        li Flash floods can cause heavy erosion
        li Too much sand in soil
        li Deforestation
        li Loss of tourism and income

    .step#work-cited(data-x=8000, data-y=-3500,data-z=1300, data-rotate-y=360)
      .title Work Cited
        .text Dolan, R., A. Howard, and A. Gallenson. 1974. Man's impact on the Colorado River in the Grand Canyon. American Scientist 62: 392-401.
        .text Howard Allan, Dolan Robert. "Geomorphology of the Colorado River in the Grand Canyon" The Journal of Geology volume 89, number 3.(May 1981)
        .text Keel, Jefferson."Request for Federal Emergency Management...." National Congress of American Indians Resolution#ABQ-10-026.(2010) &lt;http://www.havasupai-nsn.gov/files/ABQ-10-026_Signed.pdf&gt;
        .text English, Cris. "Supai Flood 2008" Flood Danage Recovery Plan(Aug 2008) &lt;http://www.havasupai-nsn.gov/files/ExecutiveSummary.pdf&gt;
        .text USDA. "Soils Survey of Hualapai- Havasupai Area, Arizona". (1992) &lt;http://soildatamart.nrcs.usda.gov/Manuscripts/AZ699/0/hualapai.pdf&gt;
        .text Grahame, John D. and Thomas D. Sisk, ed. 2002. Canyons, cultures and environmental change: An introduction to the land-use history of the Colorado Plateau.  &lt;http://www.cpluhna.nau.edu/&gt;.
        .text Bwana Cheif, Coppedge Dave."Wigleeva". 12 June 2011. picture.  &lt;http://farm7.staticflickr.com/6138/6001397920_95b2cd6caf_z.jpg
        .text Arizona State University. nature, culture and history at the grand canyon. picture  &lt;http://grandcanyonhistory.clas.asu.edu/images/sites/adjacentlands/havasupaireservation/Plower_thumb.jpg&gt;
        .text Heinze, Heather. Nature Valley Trail View. Nature Valley. 2012. callouts/83/havasupai_CO1_480.jpg&gt;
        .text Belknap,Bill. Photo NAU.PH.96.4.11.153. Cline Library Special Collections, Northern Arizona University. &lt;http://cpluhna.nau.edu/images/havasupai.jpg&gt;
        .text National Cooperative Soil Survey. "Havasupai Series:Rev. DJP/JLF/PDC/WWJ/RKS/HCD." Aug 2006. &lt;https://soilseries.sc.egov.usda.gov/OSD_Docs/H/HAVASUPAI.html&gt;
        .text Christina. "before 2008 flood and during 2008." Photograph. 17 Aug 2012. &lt;http://3.bp.blogspot.com/_JPtOjy3b2pU/TGJNkk_Il6I/AAAAAAAAATM/qapAEPF2axA/s320/old+hava.jpg&gt;
        .text Lost and Loving it adventure group. "Havasupai Flood Before and After Comparison." Picture. 2013. &lt;http://www.lostandlovingit.org&gt;
        .text  &lt;http://publishing.cdlib.org/ucpressebooks/view?docID=kt629020&chunk.if=ch07&toc.depth=1&toc.id=0&brand=ucpress&query=havasupai%2C+ flood&gt;
        .text  &lt;http://publishing.cdlib.org/ucpressebooks/view?docId=kt629020bd&chunk.id=pt03&toc.depth=100&toc.id=pt03&brand=ucpress;query=irrigaion#1&gt;
        .text  &lt;http://www.paztcn.wr.usgs.gov/webb_pdf/WRIR96-4059.pdf&gt;
        .text  &lt;http://www.havasupai-nsn.gov/government.html&gt;


append scripts
  script(src="/js/lib/impress.js")
  script
    impress().init();
