@import shared

body
  background-color: #2E5D9E

#title-image-slide
  width:1000px
  text-align:center
  img
    width:400px
#title-slide
  .title
    font-size:100px
    text-align:center
#names-slide
  .title
    font-size:100px
  .text
    font-size:40px
    width:600px
    text-align:center
#history-slide
  width: 800px
  font-size:100px
#history-info-slide
    width:800px
    li
      font-size:40px
#history-farming-slide
  .title
    font-size:100px
  .text
    font-size:40px
    width:600px

#flood-slide
  .title
    font-size:100px

#flood-info-slide
  .title
    font-size:40px
    width:400px
#flood-image-slide1
  text-align:center
  .title
    font-size:50px
#flood-image-slide2
  text-align:center
  .title
    font-size:50px
#flood-image-slide3
  text-align:center
  .title
    font-size:50px
#flood-image-slide4
  text-align:center
  .title
    font-size:50px


.title
  font-size:50px
li
  width:800px
  font-size:40px
.text
  width:800px
  font-size:40px
.box
  background-color:white
  padding:50px
  border-radius: 15px
  box-shadow:0 0 20px 2px rgba(0,0,0,.5)
  width:550px
  height:550px

